input[type=button] {
    width               : 50%;
    height              : 30px;
    border-color        : black;
    border-width        : 1px;
    border-radius       : 10px;
    text-align          : center;
    font-family         :'Open Sans';
    float               : center;
    position            : relative; 
    
}

input[type=text] {
    width               : 35%;
    height              : 30px;
    border-radius       : 10px;
    border              : 2px solid rgb(171, 170, 172);
    top                 : 50px;
    left                : 30vw;
    outline             : none;
    font-family         : Georgia, serif;
    font-size           : 12pt;
    text-align          : center;
    
    
}

.content-select select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    width               : 35%;
    height              : 30px;
    border-radius       : 10px;
    border              : 2px solid rgb(171, 170, 172);
    top                 : 50px;
    left                :30vw;
    outline             : none;
    font-family         : Georgia, serif;
    font-size           : 12pt;
    text-align          : center;
}
input[type=date] {
    width               : 35%;
    height              : 30px;
    border-radius       : 10px;
    border              : 2px solid rgb(171, 170, 172);
    top                 : 50px;
    left                : 30vw;
    outline             : none;
    font-family         : Georgia, serif;
    font-size           : 12pt;
    text-align          : center;
    
}

input[type=password] {
    width               : 35%;
    height              : 30px;
    border-radius       : 10px;
    border              : 2px solid rgb(171, 170, 172);
    top                 : 50px;
    left                :30vw;
    outline             : none;
    font-family         : Georgia, serif;
    font-size           : 12pt;
    text-align          : center;
    
}

button[type=submit]{
    width               : 35%;
    height              : 30px;
    border-radius       : 10px;
    border              : 2px solid rgb(171, 170, 172);
    background          : rgb(211, 33, 27);
    top                 : 50px;
    left                :30vw;
    outline             : none;
    font-family         : Georgia, serif;
    font-size           : 12pt;
    text-align          : center;
    color               : rgb(255, 255, 255);
    
}

button[type=submit2]{
    width               : 35%;
    height              : 30px;
    border-radius       : 10px;
    border              : 2px solid rgb(171, 170, 172);
    background          : rgb(100, 103, 233);
    top                 : 50px;
    left                :30vw;
    outline             : none;
    font-family         : Georgia, serif;
    font-size           : 12pt;
    text-align          : center;
    color               : rgb(255, 255, 255);
}

body {
    font-family  : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor {
    width:58%; height: 80vh; padding:5px; border-radius: 25px; 
    border : 2px solid rgb(171, 170, 172);
    margin-left: auto;
    margin-right: auto; 
    background: white;
}

.registro {
    width:68%; height: 100vh; padding:5px; border-radius: 25px; 
    border : 2px solid rgb(171, 170, 172);
    margin-left: auto;
    margin-right: auto; 
    background: white;
}

img{
    width      : 15%;
    float      : center;
    overflow-x : hidden;
    display    :block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-align          : center;
    color               : #0d0d0e;
    
}

.form{
    position: relative;
  z-index: 1;
  
  max-width: form-width;
  margin: 0 auto 100px;
  padding: 30px;
  text-align: center;
}
  


input[type=search] {
    width               : 40vw;
    height              : 30px;
    border-color        : black;
    border-width        : 1px;
    border-radius       : 5px;
    position            : absolute;
    top                 : 50px;
    left                :30vw;
    border-radius       : 10px;
    font-family         :'Roboto Slab';
    font-size           : 11pt;    

}



h2 {
    font-family: 'Open Sans', sans-serif;
    text-align          : center;
    color               : #0d0d0e;
    
}